<.flash_group flash={@flash} />
  <div class="mx-auto lg:mx-0">
    <div class="flex items-center justify-start gap-4 mt-4 ml-4">
      <a href="/">
        <img src={~p"/images/logo.png"} width="36" />
      </a>
      <h1 class="text-brand text-sm font-semibold leading-6">
        Operator home page content \o/
      </h1>
    </div>
  </div>
